airpi/app/static/js/chart.min.js linguist-generated
airpi/app/static/js/chartjs-plugin-colorschemes.min.js linguist-generated
airpi/app/static/js/jquery.serializejson.min.js linguist-generated
airpi/app/static/js/moment.js linguist-generated
