version: "3"
services:
  engine:
    build:
      context: ./engine
    container_name: engine 
    environment:
      - MOSQUITTO_USERNAME=${MOSQUITTO_USERNAME}
      - MOSQUITTO_PASSWORD=${MOSQUITTO_PASSWORD}
      - SENSOR_STATUS_ENDPOINT=${SENSOR_STATUS_ENDPOINT}
      - DATA_ENDPOINT=${DATA_ENDPOINT}
      - NOTIFICATION_ENDPOINT=${NOTIFICATION_ENDPOINT}
      - AUTH_ENDPOINT=${AUTH_ENDPOINT}
      - AUTH_APPNAME=${AUTH_APPNAME}
      - AUTH_APPPASS=${AUTH_APPPASS}
    depends_on:
      - "broker"
      - "proxy"
    restart: always

  proxy:
    build:
      context: ./nginx
    container_name: proxy
    depends_on:
      - "airpi"
    ports:
      - "443:443"
      - "80:80"
    restart: always

  airpi:
    build:
      context: ./airpi
    container_name: airpi 
    environment:
      - INFLUXDB_API_USER=${INFLUXDB_API_USER}
      - INFLUXDB_API_PASSWORD=${INFLUXDB_API_PASSWORD}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
      - AUTH_APPNAME=${AUTH_APPNAME}
      - AUTH_APPPASS=${AUTH_APPPASS}
      - AUTH_USERNAME=${AUTH_USERNAME}
      - AUTH_USERPASS=${AUTH_USERPASS}
    depends_on:
      - "database"
    restart: always

  broker:
    build:
      context: ./broker
    environment:
      - MOSQUITTO_USERNAME=${MOSQUITTO_USERNAME}
      - MOSQUITTO_PASSWORD=${MOSQUITTO_PASSWORD}
    container_name: broker
    ports:
      - "1883:1883"
    volumes:
      - ./broker/log:/mosquitto/log
    restart: always

  database:
    build:
      context: ./influxdb
    container_name: database
    environment:  
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
    volumes:
      - db:/var/lib/influxdb
    ports:
      - "8086:8086"
    restart: always 

volumes:
  db:

