version: "3"
services:
  proxy:
    build:
      context: ./proxy
    container_name: proxy
    volumes:
      - ./proxy/certificates:/certificates
    depends_on:
      - "airpi"
    ports:
      - "443:443"
      - "80:80"
    restart: always

  airpi:
    build:
      context: ./airpi
    container_name: airpi 
    stdin_open: true
    tty: true
    command: sh -c "python3 first_user.py; gunicorn app:app -w 1 --bind 0.0.0.0:5000"
    environment:
      - INFLUXDB_API_USER
      - INFLUXDB_API_PASSWORD
      - TELEGRAM_BOT_TOKEN
      - AUTH_USERNAME
      - AUTH_USERPASS
    depends_on:
      - "database"
      - "broker"
    restart: always

  broker:
    build:
      context: ./broker
    environment:
      - MOSQUITTO_USERNAME
      - MOSQUITTO_PASSWORD
    container_name: broker
    ports:
      - "1883:1883"
    volumes:
      - ./broker/log:/mosquitto/log
    restart: always

  database:
    build:
      context: ./influxdb
    container_name: database
    environment:  
      - INFLUXDB_ADMIN_USER
      - INFLUXDB_ADMIN_PASSWORD
    volumes:
      - db:/var/lib/influxdb
    ports:
      - "8086:8086"
    restart: always 

volumes:
  db:

