{% extends "index.html" %}

{% block content %}

<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="{{ url_for('static', filename='img/user.png') }}"
                alt="login form"
                class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
              />
            </div>
              <div class="card-body p-4 p-lg-5 text-black">

                <form id="userUpdate">
                    <div class="modal-body">
                    <div class="container-fluid">
                            <div class="form-group row">
                                <label for="username" class="col-sm-5 col-form-label">Username</label>
                                <div class="col-sm-7">
                                <input type="username" id="edituser" class="form-control" name="username" id="username" value="{{ username }}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass1" class="col-sm-5 col-form-label">New Password</label>
                                <div class="col-sm-7">
                                <input type="password" class="form-control" name="newpass1" id="newpass1" placeholder="New Password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="newpass2" class="col-sm-5 col-form-label">Repeat Password</label>
                                <div class="col-sm-7">
                                <input type="password" class="form-control" name="newpass2" id="newpass2" placeholder="New Password">
                                </div>
                            </div>
                            <br/>
                            <div class="form-group row">
                                <label for="reqpass" class="col-sm-5 col-form-label">Actual Password</label>
                                <div class="col-sm-7">
                                <input type="password" name="reqpass" class="form-control" id="reqpass" placeholder="Password">
                                </div>
                            </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Update Profile</button>
                    </div>
        
                    </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block script %}
<script src=" {{ url_for('static', filename='js/profileManager.js')}}"></script>
{% endblock %}
