{% extends "index.html" %}

{% block content %}
<div class="row justify-content-center" style="margin-top: 50px;">
        <div class="row justify-content-center">
          <div class="col-sm text-center">
            <button type="button" id="addUserBtn" data-toggle="modal" data-target="#add" class="btn btn-primary btn-lg shadow-lg" data-toggle="modal" data-target="#tokens" style="width: 180px; margin-bottom: 20px;">Add App</button>
         </div>
          <div class="col-sm text-center">
            <button type="button" id="delUserBtn" data-toggle="modal" data-target="#del" class="btn btn-danger btn-lg shadow-lg" data-toggle="modal" data-target="#tokens" style="width: 180px; margin-bottom: 20px;">Remove App</button>
          </div>
        </div> 
</div>
<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your New App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form id="newAppForm">
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">App Name:</label>
            <input type="text" name="name" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" name="description" id="message-text"></textarea>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    </div>
  </div>
</div>        
</div>

<div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Remove an App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <form id="delAppForm">
      <div class="modal-body">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">App Name:</label>
            <input type="text" name="name" class="form-control" id="recipient-name">
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger">Remove</button>
      </div>
    </form>
    </div>
  </div>
</div>
<div class="container">
    <table class="table table-dark" style="margin: 0 auto;">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">App Name</th>
        <th scope="col">Description</th>
        <th scope="col">App Secret</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script>

window.onload = async function() {
    // name, description, secret
    getApps().then(res => renderToScreen(res));
}
async function getApps(){
    let r = await fetch('/api/apps', {
        method: 'GET', 
        cache: 'no-cache',
        headers: {
        'Content-Type': 'application/json'
        },
    });
    
    let val = await r.json();
    return val;
}

$("#newAppForm").submit(async (e) => {
    e.preventDefault();
    var form = document.querySelector("#newAppForm");
    var name = form.querySelector('input[name="name"]').value;
    var description = form.querySelector('textarea[name="description"]').value;


    var msg = {
        name: name,
        description: description
    };

    let response = await fetch('/api/newapp', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': getCookie('csrf_access_token'),
        },        
        credentials: 'same-origin',
        body: JSON.stringify(msg),
    });

    let status = await response.status;

    if (status == 200){
        getApps().then(res => renderToScreen(res));
    }else if(status == 403){
        alert("Unable to add new app. Maybe the app already exists");
    }else{
        alert("You're not authorized to create new apps");
    }
});

$("#delAppForm").submit(async (e) => {
    e.preventDefault();
    var form = document.querySelector("#delAppForm");
    var name = form.querySelector('input[name="name"]').value;


    var msg = {
        name: name,
    };

    let response = await fetch('/api/delapp', {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
            'X-CSRF-TOKEN': getCookie('csrf_access_token'),
        },        
        credentials: 'same-origin',
        body: JSON.stringify(msg),
    });

    let status = await response.status;

    if (status == 200){
        getApps().then(res => renderToScreen(res));
    }else if(status == 404){
        alert("Unable to add new app. The app doesn't exists");
    }else{
        alert("You're not authorized to remove apps");
    }
});

function renderToScreen(res){
    $("tbody").html("");
    let index = 1;
    res.forEach(element => {
        $("tbody").append("<tr><td scope='row'>" + index + "</td><td>"+element.name+"</td><td>" + element.description + "</td><td>"+ element.secret +"</td></tr>");
        index++;
    });
}

</script>
{% endblock %}

