{% extends "index.html" %}

{% block content %}

<div class="row justify-content-center" style="margin-top: 50px;">

        <div class="row justify-content-center">
          <div class="col-sm text-center">
            <button type="button" id="addUserBtn" data-toggle="modal" data-target="#add" class="btn btn-primary btn-lg shadow-lg" data-toggle="modal" data-target="#tokens" style="width: 180px; margin-bottom: 20px;">Add a User</button>
          </div>

        <!-- Modal -->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="tokens" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add a User</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <form id="newTokenForm">
                  <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control" name="username" required="required" pattern="[A-Za-z0-9_-\.]{1,20}" placeholder="Username">
                      </div>
                      <div class="col-4 text-center">
                        <button type="submit" class="btn btn-primary mb-2" style="width: 90px;">Authorize</button>
                      </div>
                  </div>
                  </form>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        </div>  
</div>

<table class="table table-dark" style="max-width: 600px; margin: 0 auto;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Chat ID</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

{% endblock %}

{% block script %}
<script src=" {{ url_for('static', filename='js/telegramUsersManager.js')}}"></script>
{% endblock %}