/* @import url('https://fonts.googleapis.com/css?family=Roboto+Mono'); */ 
@font-face {
  font-family: Roboto Mono;
  src: url(RobotoMono-Regular.ttf);
}

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/static/img/wallpaper.jpg'); 
    background-color: rgba(28, 27, 27, 0.557);
    background-blend-mode: darken;
    background-size: cover;
}

.console{
    font-family: 'Roboto Mono', monospace;
}

.titlecolor{color: whitesmoke;}

.green{background-color: #3BB662 !important;}
.red{background-color: #E75448 !important;}
.yellow{background-color: #E5C30F !important;}

.txtdebug{color: #286098}
.txtinfo{color: #3BB662;}
.txtwarning{color: #c7ad19;}
.txterror{color: #E75448;}
.txtcritical{background-color: #E75448 !important;}

.morris-hover {
  position:absolute;
  z-index:1000;
}

.morris-hover.morris-default-style {     border-radius:10px;
  padding:6px;
  color:#666;
  background:rgba(255, 255, 255, 0.8);
  border:solid 2px rgba(230, 230, 230, 0.8);
  font-family:sans-serif;
  font-size:12px;
  text-align:center;
}

.morris-hover.morris-default-style .morris-hover-row-label {
  font-weight:bold;
  margin:0.25em 0;
}

.morris-hover.morris-default-style .morris-hover-point {
  white-space:nowrap;
  margin:0.1em 0;
}

#chartContainer{
    background-color: rgba(217, 218, 218, 0.784);
    height: 700px; 
    margin-bottom: 60px;
    margin-top: 30px;
    box-shadow: 6px -5px 5px rgba(62, 61, 61, 0.4); 
    border-radius: 200;
}

svg { width: 100%; }