<!doctype html>
<html lang="en">
  <head>
    <title>
        Logging Platform
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/bootstrap.min.css') }} "> 
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/morris.css') }}">
  </head>
  <body>

    <div class="page-holder">
        <div class="container py-5">
        <h1 class="text-center titlecolor shadow-lg">VINDRIKTNING Station</h1>
        <h3 class="text-center">Monitoring tool</h3>

        <!-- CHART HERE -->

        <div id="chartContainer" class="shadow-lg border-2 rounded"></div>
        <!-- BUTTONS -->

        <div class="row justify-content-center">
          <div class="col-sm text-center">
            <div class="dropdown">
              <button class="btn btn-info dropdown-toggle btn-lg shadow-lg" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 180px; margin-bottom: 20px;">
                Get logfile
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" id="downloadCrashReport" href="/api/download/crashreport">Latest crashreport</a>
                <a class="dropdown-item" id="downloadLogFile" href="/api/download/log">Current logfile</a>
              </div>
            </div>
          </div>
          <div class="col-sm text-center">
            <button type="button" id="tokensbtn" class="btn btn-info btn-lg shadow-lg" data-toggle="modal" data-target="#tokens" style="width: 180px; margin-bottom: 20px;">Manage tokens </button>
          </div>
        </div>

        <!-- <div class="row justify-content-center">
          <div class="col-sm text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
          </div>
        </div> -->
            
        <!-- Modal -->
        <div class="modal fade" id="tokens" tabindex="-1" role="dialog" aria-labelledby="tokens" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tokens menu</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="container-fluid">
                  <div class="row"><div class="col-sm"><h6 class="text-muted">Assign a token</h6></div></div>
                  <form id="newTokenForm">
                  <div class="row">
                      <div class="col-sm">
                        <input type="text" class="form-control" name="token_username" required="required" pattern="[A-Za-z0-9_-\.]{1,20}" placeholder="Username">
                      </div>
                      <div class="col-sm">
                        <input type="text" class="form-control" name="token_duration" required="required" pattern="[0-9]{1,3}" placeholder="Days">
                      </div>
                      <div class="col-sm text-center">
                        <button type="submit" class="btn btn-primary mb-2" style="width: 90px;">Authorize</button>
                      </div>
                    </div>
                  </form>
                  <br/>
                  <div class="row"><div class="col-sm"><h6 class="text-muted">Revoke a token</h6></div></div>
                  <form id="delTokenForm">
                    <div class="row">
                      <div class="col-8">
                        <input type="text" class="form-control" name="token_username" required="required" pattern="[A-Za-z0-9_-\.]{1,20}" placeholder="Username">
                      </div>
                      <div class="col-4 text-center">
                        <button type="submit" class="btn btn-danger mb-2" style="width: 90px;">Revoke</button>
                      </div>
                    </div>
                  </form>
                  <br/>
                  <div class="row"><div class="col-sm"><h6 class="text-muted">Active tokens</h6></div></div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>ChatID</th>
                        <th>Expiration</th>
                      </tr>
                    </thead>
                    <tbody class="console"></tbody>
                  </table>
                  <!-- rows -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    <script src=" {{ url_for('static', filename='js/jquery-3.3.1.slim.min.js')}} "></script>
    <script src=" {{ url_for('static', filename='js/popper.min.js')}} "></script>
    <script src=" {{ url_for('static', filename='js/bootstrap.min.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/raphael-min.js')}} "></script>
    <script src=" {{ url_for('static', filename='js/morris.min.js')}}"></script>
    <script src=" {{ url_for('static', filename='js/utils.js')}}"></script>
    <script src=" {{ url_for('static', filename='js/chart.js')}}"></script>
  </body>
</html>