@font-face {
  font-family: Roboto Mono;
  src: url(RobotoMono-Regular.ttf);
}

body, html{
    height: 100%;
    background-repeat: no-repeat;
    background-image: url('/static/img/wallpaper.jpg'); 
    background-color: rgba(28, 27, 27, 0.557);
    background-blend-mode: darken;
    background-size: cover;
}

.console{
    font-family: 'Roboto Mono', monospace;
}

.titlecolor{color: whitesmoke;}

.green{background-color: #3BB662 !important;}
.red{background-color: #E75448 !important;}
.yellow{background-color: #E5C30F !important;}

.txtdebug{color: #286098}
.txtinfo{color: #3BB662;}
.txtwarning{color: #c7ad19;}
.txterror{color: #E75448;}
.txtcritical{background-color: #E75448 !important;}

.mychart{
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461c4 0%, #28313b9a 74%);
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 6px -5px 5px rgba(62, 61, 61, 0.4); 
  border-radius: 200;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

#chart{
  height: 70vh;
}
